JWT_SECRET="MINHA_SENHA_JWT"
JWT_EXPIRES_IN="24h"
DATABASE_URL=postgresql://postgres:postgres@localhost:5132/kanban_db

POSTGRES_DB=kanban_db
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres

PORT=8002
